---
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Default.astro';

const categories = await getCategories();
const cuisines = await getCuisines();
const recipes = await getRecipes();
---

<Layout>
  <div class="bg-primary-600  text-white">
    <Container>
      <section class="flex  flex-col  gap-8  items-center  justify-between  py-8  sm:flex-row  md:gap-24  md:py-16">
        <div class="flex-1  space-y-4  text-center  md:text-left">
          <h1 class="font-semibold  font-serif  leading-10  mb-8  text-3xl  lg:leading-16  md:text-4xl  lg:text-5xl">Discover {recipes.length.toLocaleString()}<br>Gousto Recipes</h1>
          <p class="text-md  md:leading-8  md:text-lg  lg:text-xl">
            Browse, search, and get inspired by thousands of recipes from Gousto. Find your next favourite meal in seconds.
          </p>
        </div>
        <form action="/search/" class="flex-1  w-full" id="searchForm" method="get">
          <label class="sr-only" for="q">Search</label>
          <div class="relative">
            <div class="absolute  flex  inset-y-0  items-center  pointer-events-none  ps-4  start-0">
              <Icon class="text-primary-600  size-4" name="magnifying-glass" />
            </div>
            <input
              class="bg-white  border-2  border-primary-100  block  p-4  ps-12   rounded-lg  text-secondary-800  w-full  focus:ring-2  focus:outline-none  focus:ring-tertiary-600"
              id="q"
              minlength="3"
              name="q"
              placeholder="Search recipes..."
              required
              type="text"
            />
            <button
              class="absolute  bg-tertiary-600  bottom-2  cursor-pointer  end-2  px-4  py-3  rounded-lg  text-sm  text-white  hover:bg-tertiary-800"
              type="submit"
            >
              <span data-submitted="false">Search</span>
              <span class="hidden  items-center  space-x-2" data-submitted="true">
                <Icon class="animate-spin" name="spinner-third" /> <span>Searching...</span>
              </span>
            </button>
          </div>
        </form>
      </section>
    </Container>
  </div>
  <Container>
    <div class="border  border-secondary-100  my-8  p-8  rounded-lg  text-center">
      <h2 class="font-medium  font-serif  mb-4  text-lg">Browse by cuisine&hellip;</h2>
      <ul class="flex  flex-wrap  justify-center  gap-4  text-sm">
        {cuisines.map(({ name, slug }) => (
          <li>
            <a
              class="bg-secondary-50  border  border-secondary-300  block  px-2  py-1  rounded-md  hover:underline"
              href={slug}
            >
              {name}
            </a>
          </li>
        ))}
      </ul>
    </div>
    <div class="border  border-secondary-100  my-8  p-8  rounded-lg  text-center">
      <h2 class="font-medium  font-serif  mb-4  text-lg">Browse by category&hellip;</h2>
      <ul class="flex  flex-wrap  justify-center  gap-4  text-sm">
        {categories.map(({ name, slug }) => (
          <li>
            <a
              class="bg-secondary-50  border  border-secondary-300  block  px-3  py-1  rounded-md  hover:underline"
              href={slug}
            >
              {name}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </Container>
  <div class="bg-secondary-100  py-16  text-sm  text-center">
    <Container>
        <h2 class="font-semibold  font-serif  mb-4  text-xl  md:leading-16  md:text-3xl">
          The Recipe Box with More Delicious Choices Than Ever!
        </h2>
        <ul class="mb-4  text-md  md:mb-8  md:text-lg">
          <li class="mb-4">
            <strong class="font-medium">500+ tasty recipes every month</strong> &mdash; there's always something new to try!
          </li>
          <li class="mb-4">
            <strong class="font-medium">185+ veggie & vegan options</strong> every month too &mdash; plenty for plant-based foodies!
          </li>
          <li class="mb-4">
            <strong class="font-medium">No commitments!</strong> Skip, swap, or cancel anytime, hassle-free.
          </li>
        </ul>
        <a
          class="animate-pulse  bg-tertiary-600  font-medium  inline-block  items-center  px-6  py-3  rounded-xl  text-white  transition  hover:animate-none  hover:bg-tertiary-800"
          href="/signup"
        >
          <span class="text-lg">View the full menu now</span>
        </a>
    </Container>
  </div>
</Layout>

<script>
  const form = document.getElementById('searchForm');
  const button = form?.querySelector('button[type="submit"]');
  const buttonTextDefault = button?.querySelector('span[data-submitted="false"]');
  const buttonText = button?.querySelector('span[data-submitted="true"]');

  if (form && button) {
    form.addEventListener('submit', (e) => {
      // Optional: skip if no search query
      const input = form.querySelector('input[name="q"]');
      if (!input?.value.trim()) return;

      button.disabled = true;
      button.classList.remove('cursor-pointer', 'hover:bg-tertiary-800');
      button.classList.add('cursor-not-allowed', 'opacity-80');
      buttonTextDefault?.classList.add('hidden');
      buttonText?.classList.remove('hidden');
      buttonText?.classList.add('flex');
    });
  }
</script>
