---
import Benefits from '@/components/Benefits.astro';
import Hero from '@/components/Hero.astro';
import Layout from '@/layouts/Default.astro';

const categories = await getCategories();
const cuisines = await getCuisines();
const recipes = await getRecipes();
// const featuredRecipes = await getRecipes({ limit: 8, randomise: true, rating: 1 });
const featuredRecipes = await getRecipes({
  recipes: [
    'garlicky-king-prawns-with-tomato-and-green-butter-orzo',
    'buffalo-chicken-breast-shawarma-kebab',
    'crispy-ras-el-hanout-chicken-with-giant-couscous-and-tahini-yoghurt',
    'korean-style-mushroom-bibimbap',
    'halloumi-and-courgette-tray-bake',
    'simply-perfect-lean-beef-spag-bol',
    'creole-style-haddock-and-sweet-potato-stew-with-garlic-rice',
    'chilli-garlic-and-jumbo-prawn-spaghetti',
  ]
});
const metaTitle = `Gousto Recipe Search - ${recipes.length.toLocaleString()} Recipes`;
const metaDescription = `Browse, search, and get inspired by thousands of recipes from Gousto. Find your next favourite meal in seconds.`;
---

<Layout
  meta={{
    description: metaDescription,
    og: {
      'description': metaDescription,
      'image': `https://images.gousto.wiki/screenshots/gousto-recipe-search.jpg?${recipes.length}`,
      'image:alt': metaTitle,
      'image:height': 630,
      'image:type': 'image/jpeg',
      'image:width': 1200,
      'locale': 'en_GB',
      'title': metaTitle,
      'url': site.url,
    },
    title: metaTitle,
    twitter: {
      'card': 'summary_large_image',
    },
  }}
>
  <Hero featuredRecipes={featuredRecipes} recipeCount={recipes.length} />
  <div class="bg-primary-600  text-white">
    <Container>
      <section class="justify-center  items-center  py-8  space-y-4  sm:gap-8  sm:grid  sm:grid-cols-2  sm:space-y-0  md:gap-16  md:py-16">
        <h2 class="font-normal  font-serif  text-center  md:text-2xl  lg:leading-16">Already know what you want to cook?</h2>
        <form action="/search/" class="flex-1  w-full" id="searchForm" method="get">
          <label class="sr-only" for="q">Search</label>
          <div class="relative">
            <div class="absolute  flex  inset-y-0  items-center  pointer-events-none  ps-4  start-0">
              <Icon class="text-primary-600  size-4" name="magnifying-glass" />
            </div>
            <input
              class="bg-white  border-2  border-primary-100  block  p-4  ps-12   rounded-lg  text-secondary-800  w-full  focus:ring-2  focus:outline-none  focus:ring-tertiary-600"
              id="q"
              minlength="3"
              name="q"
              placeholder="Search recipes..."
              required
              type="text"
            />
            <button
              class="absolute  bg-tertiary-600  bottom-2  cursor-pointer  end-2  px-4  py-3  rounded-lg  text-sm  text-white  hover:bg-tertiary-800"
              type="submit"
            >
              <span data-submitted="false">Search</span>
              <span class="hidden  items-center  space-x-2" data-submitted="true">
                <Icon class="animate-spin" name="spinner-third" /> <span>Searching...</span>
              </span>
            </button>
          </div>
        </form>
      </section>
    </Container>
  </div>
  <Container>
    <div class="border  border-secondary-100  my-8  p-8  rounded-lg  text-center">
      <h2 class="font-medium  font-serif  mb-4  text-lg">Browse by cuisine&hellip;</h2>
      <ul class="flex  flex-wrap  justify-center  gap-4  text-sm">
        {cuisines.map(({ name, recipes, slug }) => (
          <li>
            <a
              class="bg-secondary-50  border  border-secondary-100  block  px-2  py-1  rounded-md  hover:underline"
              href={slug}
              title={`${recipes.toLocaleString()} Recipe${recipes > 1 ? 's' : ''}`}
            >
              {name}
            </a>
          </li>
        ))}
      </ul>
    </div>
    <div class="border  border-secondary-100  my-8  p-8  rounded-lg  text-center">
      <h2 class="font-medium  font-serif  mb-4  text-lg">Browse by category&hellip;</h2>
      <ul class="flex  flex-wrap  justify-center  gap-4  text-sm">
        {categories.map(({ name, slug }) => (
          <li>
            <a
              class="bg-secondary-50  border  border-secondary-100  block  px-3  py-1  rounded-md  hover:underline"
              href={slug}
            >
              {name}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </Container>
  <Benefits />
</Layout>

<script>
  const form = document.getElementById('searchForm');
  const button = form?.querySelector('button[type="submit"]');
  const buttonTextDefault = button?.querySelector('span[data-submitted="false"]');
  const buttonText = button?.querySelector('span[data-submitted="true"]');

  if (form && button) {
    form.addEventListener('submit', (e) => {
      const input = form.querySelector('input[name="q"]');

      if (!input?.value.trim()) {
        e.preventDefault();

        return;
      }

      button.disabled = true;
      button.classList.remove('cursor-pointer', 'hover:bg-tertiary-800');
      button.classList.add('cursor-not-allowed', 'opacity-80');
      buttonTextDefault?.classList.add('hidden');
      buttonText?.classList.remove('hidden');
      buttonText?.classList.add('flex');
    });
  }
</script>
