---
import Pagination from '@/components/Helpers/Pagination.astro';

const { baseUrl, content, currentPage, data, lastPage, total } = Astro.props;
---

<Container class="flex  flex-col  grow">
  {(currentPage === 1) && content && (
    <div class="max-w-none  prose  pt-4  lg:pt-8" set:html={content}>
    </div>
  )}
  <div>
    {data.map(async (article: any) => {
      const { data, id } = article;
      const { title } = data;

      return (
        <a href={`/blog/${id}/`}>
          {title}
        </a>
      )
    })}
  </div>
  {(total > recipesPerPage) && (
    <Pagination
      baseUrl={baseUrl}
      currentPage={currentPage}
      total={total}
      totalPages={lastPage}
    />
  )}
</Container>
