---
import RecipeCard from '@/components/RecipeCard.astro';

const { recipes } = Astro.props;

if (!recipes || !Array.isArray(recipes) || recipes.length === 0) {
  return;
}
---

<div class="bg-secondary-50  border-t  border-secondary-100  py-8  relative  md:py-16">
  <Container class="space-y-4  lg:space-y-8">
    <div class="flex  items-end  justify-between">
      <h2 class="font-light  font-serif  text-2xl  lg:text-3xl">Featured recipes</h2>
      <div class={`flex  items-end  space-x-4  text-lg  text-primary-600${(recipes.length <= 5) ? '  2xl:hidden' : ''}`}>
        <div class="cursor-pointer  swiper-button-prev  transition  hover:text-primary-800"><Icon name="chevron-left" /></div>
        <div class="cursor-pointer  swiper-button-next  transition  hover:text-primary-800"><Icon name="chevron-right" /></div>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        {recipes.map(({ data: { cuisine, image, nutritional_information, prep_times, rating, title }, id}) => (
          <div class="!h-auto  swiper-slide">
            <RecipeCard
              cuisine={cuisine}
              id={id}
              image={image}
              nutritional_information={nutritional_information}
              prep_times={prep_times}
              rating={rating}
              title={title}
            />
          </div>
        ))}
      </div>
    </div>
  </Container>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';

  import 'swiper/css';

  const loadCarousel = async () => {
    const swiper = new Swiper('.swiper', {
      breakpoints: {
          480: { slidesPerView: 2, },
          768: { slidesPerView: 2, },
        1024: { slidesPerView: 3, },
        1280: { slidesPerView: 4, },
        1536: { slidesPerView: 5, },
      },
      loop: true,
      modules: [Navigation],
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      slidesPerView: 1,
      spaceBetween: 32,
    });
  }

  document.addEventListener('astro:page-load', loadCarousel);
</script>
