---
import { type NutritionalInformationProps } from '@/types/NutritionalInformation';


const { perPortion } = Astro.props as NutritionalInformationProps;
const perPortionValues = Object.fromEntries(
  Object.entries(perPortion).filter(
    ([_, value]) => typeof value === 'number' && !isNaN(value)
  )
);
const { energy_kcal, fat_mg, carbs_mg, fibre_mg, protein_mg, salt_mg } = perPortionValues;
---

{perPortion && (Object.keys(perPortionValues).length > 0) &&
  <div class="border-b  border-secondary-100  mb-8  pb-8">
    <h2 class="font-semibold  font-serif  mb-2  text-3xl">Nutritional information</h2>
    <p class="mb-8  text-secondary-800">Nutritional information only applies to ingredients supplied by Gousto.</p>
    <div class="mb-8  overflow-hidden  rounded-md  sm:flex">
      <div class="bg-primary-600  items-center  p-4  text-center  text-white  w-full  sm:text-left  sm:w-auto  md:p-8">
        per<br class="hidden  sm:block"> serving
      </div>
      <div class={`bg-secondary-100  gap-4  grid  grid-cols-3  items-center  justify-around  p-4  text-center  text-sm  w-full  sm:grid-cols-6  md:p-8`}>
        {energy_kcal && (
          <div>
            <div class="font-medium"><span class="text-2xl">{energy_kcal.toLocaleString()}</span>kcal</div>
            <div class="text-secondary-800">Energy</div>
          </div>
        )}
        {fat_mg && (
          <div>
            <div class="font-medium"><span class="text-2xl">{formatMilligramsToGrams(perPortion.fat_mg)}</span>g</div>
            <div class="text-secondary-800">Fat</div>
          </div>
        )}
        {carbs_mg && (
          <div>
            <div class="font-medium"><span class="text-2xl">{formatMilligramsToGrams(carbs_mg)}</span>g</div>
            <div class="text-secondary-800">Carbohydrate</div>
          </div>
        )}
        {fibre_mg && (
          <div>
            <div class="font-medium"><span class="text-2xl">{formatMilligramsToGrams(fibre_mg)}</span>g</div>
            <div class="text-secondary-800">Fibre</div>
          </div>
        )}
        {protein_mg && (
          <div>
            <div class="font-medium"><span class="text-2xl">{formatMilligramsToGrams(protein_mg)}</span>g</div>
            <div class="text-secondary-800">Protein</div>
          </div>
        )}
        {salt_mg && (
          <div>
            <div class="font-medium"><span class="text-2xl">{formatMilligramsToGrams(salt_mg)}</span>g</div>
            <div class="text-secondary-800">Salt</div>
          </div>
        )}
      </div>
    </div>
    <p class="text-secondary-800">The cooking process and additional ingredients added at home (listed under &ldquo;You'll also need&rdquo;) will affect total values.</p>
  </div>
}
